[submodule "3rd_party/spdlog"]
	path = 3rd_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd_party/Catch2"]
	path = 3rd_party/Catch2
	url = https://github.com/catchorg/Catch2.git
